* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	// border: 1px solid mediumorchid;
}

.container{
	height: 100%;
}


body {
	margin: 0;
}

.banner {
	background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2)50%), url("https://www.fae-group.com/images/applicazioni/header/Applications_grinding_roots_stump_fae.jpg");
	background-size: 100% 100%;
	height: 500px;
	position: relative;
	padding-top: 7%;
}

.banner h1 {
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 50%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 50px;
	// margin-top: 7%;
}

.banner ul {
	list-style-type: none;
	width: 100%;
	bottom: 0px;
	position: absolute;

}

.banner li {
	display: inline-block;
	width: 25%;
	color: white;
}

.banner a {
	text-decoration: none;
}

.stump-me {
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	// font-size: 40px;
}


.banner-welcome{
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 40px;
	margin-top: 2%;


}

.question-submit {
	
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 40px;
}

.question-answer{
	
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 40px;
}

.view-my-questions{
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 40px;
}

.log-out{
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 40px;
	cursor: pointer;
}

.answer-list{
	margin: 0px;
}

.answer-ul{
	margin: 0px;
}

.single-answer{
	padding: 0px;
}

.answer-submitted-by{
	padding: 0px;
}

.correct-button{
	padding: 0px;
}

.splash-page{
	background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2)50%), url("https://www.fae-group.com/images/applicazioni/header/Applications_grinding_roots_stump_fae.jpg");
	background-size: 100% 100%;
	color: white;
	height: 500px;
	position: relative;
	padding: 7%;
}

.splash-page h1{
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	width: 50%;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 50px;
}

.splash-page h2{
	font-family: 'Lato';
	text-align: center;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px rgb(86, 71, 61);
	padding-right: 0px;
	width: 60%;
	margin: 0 auto;
	margin-top: 2%;

}

.login-register {
	padding: 2%;
	display: block;
}

.register-form{
	position: absolute;
	bottom: -30%;
	right: 20%;
}

.register-form input {
	width: 30%;
	font-size: 12px;
}

.register-form button {
	background-color: #008CBA;
	border-radius: 15%;
	text-align: center;
	font-size: 30px;
	padding: 3% 3%;
	font-family: 'Nunito';
	margin-left: 30%;
}

.login-form {
	position: absolute;
	bottom: -30%;
	left: 20%;
}

.login-form button {
	background-color: #008CBA;
	border-radius: 15%;
	text-align: center;
	font-size: 30px;
	padding: 3% 3%;
	font-family: 'Nunito';
	margin-left: 21%;
}

.question-ul {
	list-style-type: none;
}

.single-question-li{
	border: 1px solid black;
	margin-right: 60%;
	width: 95%;
	margin-bottom: 5px;

}

.single-question {
	display: inline-block;
	padding: 10px;
}

.question-submitted-by {
	margin: 5%;
}

.question-submitted-on {
	margin: 5%;
}

.delete-the-question {
	text-align: center;
}

.deleteX {
	padding: 1%;
	background-color: orangered;
	font-family: 'Nunito';
	border-radius: 15%;
	color: white;
	font-size: 15px;
	margin-left: 35%;
	cursor: pointer;
}

.my-questions h1 {
	text-align: center;
	font-family: 'Lato';
	
}

#my-question-list {
	text-align: center;
	font-family: 'Nunito';
 	font-size: 30px;
 }

 #submit-question {
 	text-align: center;
	font-family: 'Nunito';
 	font-size: 30px;
 }	

a:visited{
	color: white;
}

.single-question-li a:visited {
	color: black;
}

.single-question-li p {
	display: inline-block;
	font-family: 'Nunito';
	font-size: 20px;
}

.single-question-li a:link {
	color: black;
}

.theP {
	text-align: center;
	font-family: 'Nunito';
	font-size: 30px;
}

.submission-info, .delete-the-question {
	width: 50%;
	display: inline-block;
}

.answer-list {
	// border: 3px solid blueviolet;
}

.answer-ul {
	// border: 3px solid deeppink;
}

.single-answer {
	border: 1px solid black;
	list-style-type: decimal;
	padding: 1%;
	width: 80%;
	margin: 0 auto;
	list-style-position: inside;
	font-family: 'Nunito';
	font-size: 20px;
}

.answer-form {
	width: 80%;
	border: 1px solid black;
	padding: 1%;
	margin: 0 auto;
}
.the-question p {
	text-align: center;
	font-family: 'Nunito';
	font-size: 30px;
}

.answer-form input {
	width: 35%;
	font-size: 20px;
}

.answer-form p {
	font-family: 'Nunito';
}

.correct-button {
	padding: 1%;
	background-color: navy;
	font-family: 'Nunito';
	border-radius: 15%;
	color: white;
	font-size: 15px;
	cursor: pointer;

}

.recall-answer {
	padding: 1%;
	background-color: orangered;
	font-family: 'Nunito';
	border-radius: 15%;
	color: white;
	font-size: 15px;
	margin-left: 35%;
	cursor: pointer;
}

.submit-question-form {
	width: 80%;
	border: 1px solid black;
	padding: 1%;
	margin: 0 auto;
}

.submit-question-form button {
	padding: 1%;
	background-color: orangered;
	font-family: 'Nunito';
	border-radius: 15%;
	color: white;
	font-size: 15px;
	margin-left: 35%;
	cursor: pointer;
}

.submit-question-form p {
	font-family: 'Nunito';
	font-size: 30px;
	width: 50%;
}

.submit-question-form input {
	width: 95%;
	font-family: 'Nunito';
	font-size: 30px;
}

#yeahr {
	width: 60%;
}

.footer {
	background-color: black;
	margin-bottom: 0px;
	display: none;
}













